body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(assets/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 0% 20px;
}

nav h1{
    color: white;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

h1{
    color: green;
}
p{
    line-height: 1.6em;
    color: rgb(14, 14, 13);
}

.content {
    background-color: white;
    width: 1500px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    padding: 24px;
    margin: 20px auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card-contact{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-items: center;
    align-content: center;
}

.card-contact a {
    display: inline-block;
    width: 350px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.card-contact a:hover {
    background-color: #218838;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 350px;
    height: 30px;
    font-size: larger;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border: 2px solid gray;
}

.form-group textarea {
    width: 350px;
    height: 100px;
    font-size: larger;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border: 2px solid gray;
}